body {
  margin: 0;
  background: $color--white;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include media-query(sm){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  @include media-query(md){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @include media-query(lg){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  grid-gap: $grid;
}

p, li, h1, h2, h3, h4, h5 {
  font-family: $font-primary;
}

a {
  color: $color--black;
  text-decoration: none;
  border-bottom: 2px solid $color--black;

  &::before {
    content: "";
    position: absolute;
    left: -1.5%;
    bottom: -22%;
    height: 0;
    width: 103%;
    background-color: yellow;
    opacity: 0%;
    transition: height 0.3s, opacity 0.3s;
    transition-timing-function: ease-out;
    mix-blend-mode: difference;
  }

  &:hover::before, &:focus::before {
    height: 122%;
    opacity: 100%;
  }
}

.bold {
  font-weight: bold;
}

::-moz-selection {
  color: $color--black;
  background: $color--neon-green;
}

::selection {
  color: $color--black;
  background: $color--neon-green;
}


