body {
  margin: 0;
  background: $color--white;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include media-query(sm){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  @include media-query(md){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @include media-query(lg){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  grid-gap: $grid;
}

p, li, h1, h2, h3, h4, h5 {
  font-family: $font-primary;
}

a {
  color: $color--black;
  text-decoration: none;
  border-bottom: 2px solid $color--black;

  &::before {
    content: "";
    position: absolute;
    left: -1.5%;
    bottom: -22%;
    height: 0;
    width: 103%;
    background-color: yellow;
    opacity: 0%;
    transition: height 0.3s, opacity 0.3s;
    transition-timing-function: ease-out;
    mix-blend-mode: multiply;
  }

  &:hover::before, &:focus::before {
    height: 122%;
    opacity: 100%;
  }
}

.bold {
  font-weight: bold;
}

::-moz-selection {
  color: $color--black;
  background: $color--neon-green;
}

::selection {
  color: $color--black;
  background: $color--neon-green;
}

.fontello-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

