
$grid: 20px;

/**
 * Colour Scheme
 * Go to https://coolors.co for more colours / making modifications.
 */

$color--neon-blue: #08F7FE;
$color--neon-green: #09FBD3;
$color--neon-pink: #FE53BB;
$color--neon-yellow: #F5D300;
$color--neon-red: #FF331F;

$color--blue:rgb(23, 111, 212);

$color--white: #FDFFFC;
$color--grey: #52534c;
$color--dark-grey: #2B2C28;
$color--black: #0D0F0F;
 
$primary-color: $color--white;
$secondary-color: $color--dark-grey;

/** Media Query Breakpoints */

$media-query-breakpoints: (
  sm: 600px, //Mobile Landscape
  md: 900px, //Tablet Landscape
  lg: 1200px //Desktop
);

/** Typography Variables
 * Primary font (Headings, body text) - Roboto
 * Secondary font (UI, links, emphasis) - SourceCodePro  
 * (This is an unconventional design choice. Oh well.)
 */

 /*
//Roboto
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}
*/

//SourceCodePro
@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/fonts/SourceCodePro/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/fonts/SourceCodePro/SourceCodePro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/fonts/SourceCodePro/SourceCodePro-Bold.ttf");
  font-weight: 700;
}

//Iconography
//Various icon sets, sourced from fontello.com.
@font-face {
  font-family: 'fontello';
  src: url("/assets/fonts/Fontello/fontello.ttf");
  font-weight: normal;
  font-style: normal;
}

$font-primary: Roboto, Sans-serif;
$font-secondary: SourceCodePro, Helvetica, Sans-serif;

$font-weights: ("regular": 400, "medium": 500, "bold": 700);
 
$mobile-font-sizes: (
  xxs: 8px,
  xs: 10px,
  s: 12px,
  m: 14px,
  l: 18px,
  xl: 22px,
  xxl: 28px,
  xxxl: 32px
);

$tablet-font-sizes: (
  xxs: 8px,
  xs: 10px,
  s: 12px,
  m: 18px,
  l: 18px,
  xl: 24px,
  xxl: 28px,
  xxxl: 48px
);

$desktop-font-sizes: (
  xxs: 10px,
  xs: 12px,
  s: 14px,
  m: 18px,
  l: 22px,
  xl: 24px,
  xxl: 32px,
  xxxl: 48px
);

