.homepage {
  &__background {
    height: 100vh;
    background: rgb(241,189,212);
    background: linear-gradient(80deg, rgba(241,189,212,1) 0%, rgba(183,210,241,1) 100%); 
  }

  &__jumbotron {
    position: absolute;
    bottom: 2 * $grid;
    left: 2 * $grid;
  }

  &__title {
    font-family: $font-secondary;
    text-transform: uppercase;
    @include font-size(xxxl);
    margin: 0;
    line-height: 1em;
    padding-bottom: $grid + 5px;
    font-weight: 500;
  }

  &__tagline {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(xl);
    line-height: 1em;
    margin: 0;
  }

  &__menu {
    position: absolute;
    top: 2 * $grid;
    right: 2 * $grid;
  }

  &__portfolio-link {
    position: absolute;
    bottom: 2 * $grid;
    right: 2 * $grid;

    font-family: $font-secondary;
    text-transform: uppercase;
    @include font-size(xl);

    .download-cloud-icon {
      font-size: 90%;
      margin-left: -1px;
    }
    
  }
}