.menu {
  text-align: right;

  &__options-container {
    position: relative;
    width: 100vw;
    margin-top: $grid;
  }

  &__option {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    
    @include font-size(xl);
    font-family: $font-secondary;
    text-transform: uppercase;
  }

  &__burger-icon {
    font-size: 92%;
    padding-right: 7px;
  }

  &__close-icon {
    font-size: 90%;
  }

  &__arrow-icon {
    font-size: 92%;
    padding-left: 9px;
  }

  &__toggle-button {
    font-weight: 700;
    background-color: $color--white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      height: 0;
      width: 100%;
      background-color: yellow;
      opacity: 0%;
      transition: height 0.3s $ease-out, opacity 0.3s;
      mix-blend-mode: multiply;
    }

    &:hover::after, &:focus::after {
      height: 100%;
      opacity: 100%;
    }
  }
}